.recipeContainer {
  border-width: 1px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 5px 0px 23px -1px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 0px 23px -1px rgba(0, 0, 0, 0.57);
  max-width: 30rem;
}

.titleWrapper {
  justify-content: center;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.categWrapper {
  align-items: baseline;
  margin-bottom: 8px;
}

.descWrapper {
  margin: 5px 0px;
}

.descText {
  font-size: 15px;
}

.userInfo {
  align-items: center;
}

.by {
  font-size: 14px;
  font-weight: bold;
}

.userName {
  font-size: 15px;
  margin-left: 5px;
}

.recipeImg {
  cursor: pointer;
}
